<h2>Данные от БД</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse perferendis amet distinctio asperiores
    eum dolores. Facilis, ad culpa! Neque culpa minus, sequi ad eaque voluptas rerum recusandae hic optio
    similique.</p>
<form>
    <div class="form-group">
        <label for="inputAddress">Host</label>
        <input class="form-control" type="text" placeholder="http://my-site.ru" readonly>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">User</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="User">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputZip">Имя таблицы с пользователями</label>
            <input type="text" class="form-control" id="inputZip" placeholder="users_table">
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">DB type</label>
            <select id="inputState" class="form-control">
                <option selected>Mysql</option>
                <option>Mssql</option>
                <option>MongoDB</option>
                <option>PostgreSQL</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Тест соединения </button>
</form>