
        <div class="bs-stepper-content">
            <form onsubmit="return false">
                <div id="test-vl-1" role="tabpanel" class="content active" aria-labelledby="stepper4trigger1">
                    <div class="form-group">
                        <label for="exampleInputEmailV1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmailV1" placeholder="Enter email">
                    </div>
                    <button class="btn btn-primary btn-next">Next</button>
                </div>
                <div id="test-vl-2" role="tabpanel" class="content" aria-labelledby="stepper4trigger2">
                    <div class="form-group">
                        <label for="exampleInputPasswordV1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPasswordV1" placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-prev">Previous</button>
                    <button class="btn btn-primary btn-next">Next</button>
                </div>
                <div id="test-vl-3" role="tabpanel" class="content" aria-labelledby="stepper4trigger3">
                    <button class="btn btn-primary mt-5 btn-prev">Previous</button>
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>